*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@media only screen and (min-width:570px){
    nav ul{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-around;
    }
     nav ul li{
        flex:1 0 auto;
    }
    .logo{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width:470px),(min-width:200px){
    .name_1{
      top:90%;
      left:10px;
      width:40px;
      font-size: 30px;
    }
}
nav{
    position:sticky;
    width:100%;
   top: 9px;
}
nav ul{
    background-color: black;
    list-style-type:none;
    border-radius: 10px;
    
}
nav ul li a {
   
    text-decoration: none;
    display:block;
    text-align:center;
    font size:28px;
    padding:15px 25px;
    color:white;
}
nav ul li a:hover{
    color: azure;
}
.logo{
    display:flex;
    justify-content:space-between;
    font-size:40px;
    font-family: 'Risque',cursive;
}
.logo:hover{
    background-color:cadetblue;
    color: azure;
}
.ban1{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(CJ/wonderful-river-in-the-middle-of-the-nature-hd-wallpaper-1920x1080.jpg);
    border-radius: 30px;
    min-height:90vh;
    background-attachment: fixed;
    background-size: 1450px 900px;
    align-items: center; 
}
.buttons{
    display: flex;
}
.b1{
    border-radius: 50px;
    width: 300px;
    height: 100px;
    margin: 20px 20px;
       float: right;
      margin-left: 350px;
     font-family:'Risque',cursive;
    font-size:40px;
    
}
.b2{
    border-radius: 50px;
    width: 300px;
    height: 100px;
    margin: 20px 20px; 
       float: right;
    margin-left: 100px;
    font-family:'Risque',cursive;
    font-size:40px;
}
.b3{
    border-radius: 50px;
    width: 300px;
    height: 100px;
    margin: 20px 20px; 
    font-family:'Risque',cursive;
    font-size:40px; 
    background-color: #4CAF50;
    color: white;
}

.name{
    padding-top: 50px;
    font-size: 70px;
    text-align: center;
    font-family: 'aladin',cursive;
    text-shadow:  0px 0px 6px white;
}
.or{
     text-shadow:  0px 0px 6px white;
    margin-top: 50px;
    margin-left: 50px;
}
input[type=text] {
    width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
     border-radius: 50px;
    border-color: black;
}
input[type=email]{
      width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: black;
}
input[type=checkbox]{
      width: 50px;
    margin-right: 0px;
    border-radius: 50px;
    border-color: black;
}
input[type=password]{
      width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: black;
}
input[type=tel]{
      width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: black;
}
input[type=radio]{
    padding: 12px 20px;
    margin: 8px 8px;
    border-radius: 50px;
    border-color: black;
}
input[type=tel]{
      width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: black;
}
select{
    width: 1000px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: black;
    font-size: 30px;
     text-shadow:  0px 0px 6px white;
}
.formSt{
   margin-left: 30px;
   font-size: 30px;
     text-shadow:  0px 0px 6px white;
}

.formlogin{
      font-size: 30px;
    margin-left: 30px;  
     text-shadow:  0px 0px 6px white;
}
.submit{
    border-radius: 50px;
    width: 200px;
    height: 100px; 
    font-family:'Risque',cursive;
    font-size:30px; 
     text-shadow:  0px 0px 6px white;
}

