*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@media only screen and (min-width:570px){
    nav ul{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-around;
    }
     nav ul li{
        flex:1 0 auto;
    }
    .logo{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width:470px),(min-width:200px){
    .name_1{
      top:90%;
      left:10px;
      width:40px;
      font-size: 30px;
    }
}
nav{
    position:sticky;
    width:100%;
    padding-top: 5px;
    padding-bottom: 10px;
}
nav ul{
    background-color: black;
    list-style-type:none;
    border-radius: 10px;
     text-shadow:  0px 0px 6px white;
}
nav ul li a {
   
    text-decoration: none;
    display:block;
    text-align:center;
    font size:28px;
    padding:15px 25px;
    color:white;
}
nav ul li a:hover{
    color: azure;
}
.logo{
    display:flex;
    justify-content:space-between;
    font-size:40px;
    font-family: 'Risque',cursive;
}
.logo:hover{
    background-color:cadetblue;
    color: azure;
}

.ban1{
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url(pics/banner.png);
    border-radius: 30px;
    min-height:90vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1450px 900px;
    display:flex;
    align-items: center; 
   
}
.name_1{
    position: absolute;
    top:42%;
    left:25%;
    text-align: center;
    width:60%;
    color: white;
    background-color: #424259;
    font-family:'Risque', cursive;
    font-size: 100px;
    text-shadow:  50px 20px 6px #000000;
    border-radius: 30px;
   margin-top: 3px;
    transition: width 1s,height 1s,font-size 1s;
    float: center;
}
.name_1:hover {
    width: 900px;
    height: 180px;
    font-size: 130px;
}
.intro_1 h2{
   font-size: 59px;
    color: dimgrey;
    font-family:'Aladin', cursive; 
    text-align: center;
     text-shadow:  10px 0px 70px ;
}
.intro_1{
    font-family: 'Bellefair', serif;
    background-color:white;
    font-size: 30px;
    width:800px;
    text-align: left;
    position:absolute;
    left:10px;
    padding: 140px 40px 40px 40px;
}
.intro_food{
   width: 100%;
    height: 100px;
    line-height: 40px;
}
.intro_img{
   position:absolute;
    top: 890px;
    right: 50px;
    width: 500px;
    border-radius: 20px;
}
.intro_food button{
    text-decoration: none;
    position: relative;
    left: 70%;
    top: 400px;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    background-color: azure;
}
.intro_food button a{
    text-decoration: none;
     color:dimgrey;
    font-size: 24px;
    font-family: fantasy;
}
.div_quote1{
    position: relative;
    top: 580px;
    height: 670px;
    background-color:black;
    border-radius: 30px;
}

.div_quote11{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pics/5.jpg);
    min-height:68.5vh;
   background-size:50% 850px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display:flex;
     border-radius: 30px;
}

.div_quote12{
    position:absolute;
    width: 500px;
    height: 400px;
    left: 60%;
    top: 15%;
    color: white;
    font-family:'Freckle Face', cursive;
    font-size: 30px;
    text-align: center;
}

.posts_pics1 img{
    width: 600px;
    height: 300px;
    float: left;
    padding: 10px;
    @include dark-overlay;

}
.pics-3-columns img{
    width: 23%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    float: left;
    @include dark-overlay;
}

.posts_z{
    background-image: url(pics/7.jpg);
    border-radius: 30px;
  background-size:100% 100%;
    background-attachment: fixed;
    padding: 172px 72px 72px 72px;
    position: relative;
    top: 465px;
    background-color:white;
    width: 100%;
    height: 830px;
    border-radius:30px;
}
.posts_z h2{
    font-size: 79px;
    color: dimgrey;
    font-family:'Aladin', cursive; 
    text-align: center;
    text-shadow:  10px 0px 70px ;
    position: absolute;
    left: 35%;
    top:40px;
}
.posts_z h1:hover{
   border: 1px solid black;
   font-size: 40px;
   color:antiquewhite;
   background-color: rgba(7,9, 9, 0.8);
}
.posts_z h1{
    text-align: center;
    font-family:'Dosis', sans-serif;
    font-size: 38px;
    color:black;
    text-decoration: none;
    background-color: rgba(255, 255, 255,0.69);
}
.headings_posts1{
    position: absolute;
    top: 35%;
    width: 350px;
    left: 200px;
    height: 100px;
}
.headings_posts2{
    position: absolute;
    top: 37%;
    height: 60px;
    width:400px;
    left: 740px;
}
.headings_posts3{
    position: absolute;
    top: 65%;
    height: 110px;
    width: 350px;
    left: 190px;
}
.headings_posts4{
    position: absolute;
    top: 67%;
    height: 60px;
    width: 250px;
    left: 850px;
}
.div_quote2{
    position: relative;
    top: 468px;
    height: 800px;
    background-color:black;
    border-radius: 30px;
}
.div_quote21 {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pics/11.jpg);
    min-height:100vh;
    background-size: 100% 835px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display:flex;
    border-radius: 30px;
}
.div_quote22{
    position:absolute;
    width: 600px;
    height: 100px;
    left: 50%;
    top: 6%;
    color: white;
    font-family:'Satisfy', cursive;
    font-size: 40px;
    text-align: center;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::before {
    content:'';
    position: absolute;
    width: 8px;
    background-color: palevioletred;
    top: 0;
    bottom: 0;
    left: 193px;
    margin-left: -10px;
}
.container {
    padding: 10px 150px;
    position: relative;
    background-color: inherit;
    width: 90%;
}
.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 90px;
    background-color: white;
    border: 4px solid #ffccee;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 80px;
}
    
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 140px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    border:2px solid pink;
    font-family: 'Risque',cursive;
    font-size: 24px;
}
.header_tips{
    padding: 100px 140px;
    background-color:darksalmon;
    color: white;
    border-bottom-style:ridge;
}
.heading_tips{
    text-align: center;
    font-family: 'Risque',cursive;
    font-size: 80px;
    text-decoration:underline;
    text-decoration-color:blanchedalmond;
    text-decoration-style:dotted;
}
.para_tips{
    text-align:left;
    font-size: 20px;
}

.header_gallery {
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(pics/168.JPG);
    min-height:80vh;
    background-size: cover;
    background-attachment:local;
}
.heading_gallery{
    position:absolute;
    top: 45%;
    left: 40%;
    font-size: 80px;
    font-family: 'Risque',cursive;
    color: aliceblue;
    text-shadow:  30px 30px 26px #000000;
}
.row { 
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}   
div.gallery:hover {
    border: 1px solid #777;
}
.buttons_food{
    font-family: cursive;
    width: 100%;
    height: 100px;
    font-size: 28px;
    border: 2px;
    border-color: black;
    border-style: groove;
}
.div_quote22 button{
    text-decoration: none;
    height: 80px;
    width: 150px;
    border: 1px solid black;
    background-color: azure;
    padding: 20px;
    
}
.div_quote22 button a{
    text-decoration: none;
    color:dimgrey;
    font-size: 28px;
    font-family: fantasy;
}

.food_gallery_z h2{
    font-size: 80px;
    font-family: 'Risque',cursive;
    color:darkgray;
    text-shadow:  0px 0px 16px #000000;
    position: absolute;
    left: 40%;
    top:20px;
}
.food_gallery_z{
    position:relative;
    top: 300px;
    width: 100%;
    height:600px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(pics/12.jpg);
    min-height:80vh;
    background-size: cover;
    background-attachment:local;
}
.photo1234 img:hover{
     width: 300px;
    height: 300px;
    border: 2px solid black;
}
.food_gallery_z button{
    text-decoration: none;
    position: relative;
    left: 45%;
    top: 64px;
    height: 60px;
    width: 150px;
    border: 1px solid black;
    background-color: azure;
    
}
.food_gallery_z button a{
    text-decoration: none;
     color:dimgrey;
    font-size: 24px;
    font-family: fantasy;
}
.photo1234 {
    padding: 150px 10px 0px 80px;
}
.photo123 img{
    width: 300px;
    height: 300px;
    float: left;
    padding: 10px;
}
.kaur img{
    position:absolute;
    width: 600px;
    border-radius:30px;
    
}
.thind{
    font-family: ;
    font-size: 28px;
    position: absolute;
    left: 600px;
    padding: 40px;
}
.preet{
    position: absolute;
    top:400px;
    font-size: 28px;
    padding-left: 40px;
}
.heading_posts1{
    position: absolute;
    top: 38%;
    width: 160px;
    left: 175px;
    font-size: 18px !important;
}
.heading_posts2{
    position: absolute;
    top: 39%;
    height: 190px;
    width:180px;
    left: 440px;
    font-size: 18px !important;
}
.heading_posts3{
    position: absolute;
    top: 42%;
    height: 160px;
    width: 140px;
    left: 760px;
    font-size: 18px !important;
}
.foodDiv{
    padding: 50px 250px 0px 230px;
     background-color: #f1f7ed;
}
.foodDiv img{
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 20px;
}
.foodDiv img:hover{
    width: 302px;
    height: 302px;
}
.food_list{
    padding: 30px 20px 110px 50px;
     background-color: white;
}
.food_list h2{
     font-family:'Aladin',cursive;
     font-size: 38px;
     
}
.food_list p span{
    font-weight: bold;
    font-size: 24px;
    color: grey;
}
.food_list p{
     padding: 4px 340px 0px 15px;
     font-family:'Roboto',cursive;
     font-size: 24px;
}
.steps_button1 a{
     font-size: 28px;
    text-decoration: none;
     color: white;
}
.steps_button1{
    background-color: black;
    width: 100px;
    height: 60px;
    font-family:'Roboto',cursive;
    cursor: pointer;
}
.steps_arrow{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 700px;
    border: 1px solid 80px;
    background: url(pics/arrow1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headersDiv{
    padding: 100px;
    font-size: 28px;
    font-family:'Roboto',cursive;
}
.headersDiv h2{
     font-family:'Aladin',cursive;
}
.headersDiv img{
    width: 500px;
    border-radius:30px;
}
.headersDiv p{
    padding-left: 60px;
    padding-right: 60px;
    float:right;
    width: 620px;
    font-family:'Roboto',cursive;
      
}
.headersDiv span{
    font-size: 40px;
    font-weight: bold;
    font-family:'Aladin',cursive;
    text-indent:inherit;
    text-align: center;
}
#steps_1{
    display: none;
    padding: 5px 50px 0px 90px;
    line-height: 55px;
}
#steps_2{
    display: none;
    padding: 5px 50px 0px 90px;
    line-height: 55px;
}
#steps_3{
    display: none;
    padding: 5px 50px 0px 90px;
    line-height: 55px;
}
.points{
    padding: 80px 240px 0px 240px;
    font-size: 30px;
    background: url(pics/7.jpg);
}
.points div{
    padding: 20px 20px 0px 20px;
    font-family:'Aladin',cursive;
    font-size: 30px;
}
.points div p{
     font-family:'Roboto',cursive;
    font-size: 30px;
    line-height: 50px;
}
